<div class="small-10 medium-6 large-4 small-centered">
  <div class="row">
    <div class="authform">
      <%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => { :role => 'form'}) do |f| %>
        <%= devise_error_messages! %>
        <div class="input-group">
          <span class="input-group-label">
            <i class="icon-user"></i>
          </span>
          <%= f.email_field :email, :autofocus => true, id: 'Email', class: 'input-group-field form-control' %>
        </div>
        <div class="input-group">
          <span class="input-group-label">
            <i class="icon-lock"></i>
          </span>
          <%= f.password_field :password, id: 'Password', class: 'input-group-field form-control' %>
        </div>
        <%= f.submit 'Sign in', :class => 'large expanded button' %>
        <% if devise_mapping.rememberable? -%>
          <div class="checkbox clearfix">
            <label class="float-left">
              <%= f.check_box :remember_me %> Remember me
            </label>
            <label class="float-right"><%= link_to "Forgot Your Password?", new_password_path('user'), class: "login-link" %></label>
          </div>
        <% end -%>
      <% end %>
    </div>
    <%= devise_error_messages! %>
  </div>
</div>
