<div class="row" style="margin-top: 2rem">
  <div class="large-6 columns">
    <nav aria-label="You are here:" role="navigation">
      <ul class="breadcrumbs">
        <li><%= link_to "Events", dashboard_events_path %></li>
        <li>
          <span class="show-for-sr">Current: </span> <%= @api_key.name %>
        </li>
      </ul>
    </nav>
  </div>
</div>
<div class="row">
  <div class="large-12 columns">
    <h4 class="category">Content Links</h4>
  </div>
</div>
<div class="row">
  <div class="large-12 columns">
    <div class="table-wrapper">
      <table class="table">
        <thead>
          <tr>
            <th>#</th>
            <th>Source URL</th>
            <th>First Seen</th>
            <th>Last Seen</th>
            <th>Top Referrer</th>
            <th>Avg Score</th>
            <th>Top Score</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <% if @url_aggregates.present? %>
            <% @url_aggregates.each_with_index do |event, index| %>
              <tr>
                <td><%= index + 1 %></td>
                <td><%= event.source_url %></td>
                <td><%= time_ago_in_words(event.first_timestamp) %></td>
                <td><%= time_ago_in_words(event.last_timestamp) %></td>
                <td><%= event.top_referrer || "N/A" %></td>
                <td class="text-center"><button class="button round"><%= event.mean_score.round %></button</td>
                <td class="text-center"><button class="button round"><%= event.top_score.round %></button</td>
                <td class="text-center"><%= link_to("View", dashboard_event_detail_path(@api_key.uuid, event.uuid)) %></td>
              </tr>
            <% end %>
          <% else %>
            <tr>
              <td colspan="8">No Events</td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
