<div class="row" style="margin-top: 2rem">
  <div class="large-6 columns">
    <nav aria-label="You are here:" role="navigation">
      <ul class="breadcrumbs">
        <li><%= link_to "Events", dashboard_events_path %></li>
        <li>
          <span class="show-for-sr">Current: </span> <%= @api_key.name %>
        </li>
      </ul>
    </nav>
  </div>
  <div class="large-6 columns">
    <div class="callout">
    </div>
  </div>
</div>
<div class="row">
  <div class="large-12 columns">
    <h6 class="category">Scoreboards</h6>
  </div>
</div>
<div class="row">
  <div class="large-4 columns">
    <div class="callout">
      <%= bar_chart @visits_bar_chart.data, @visits_bar_chart.options %>
      <ol>
        <% @visits_bar_chart.data[:labels].each do |label| %>
          <li><%= label %></li>
        <% end %>
      </ol>
    </div>
  </div>
  <div class="large-4 columns">
    <div class="callout">
      <%= bar_chart @scores_bar_chart.data, @scores_bar_chart.options %>
      <ol>
        <% @scores_bar_chart.data[:labels].each do |label| %>
          <li><%= label %></li>
        <% end %>
      </ol>
    </div>
  </div>
  <div class="large-4 columns">
    <div class="callout">
      <%= bar_chart @referrals_bar_chart.data, @referrals_bar_chart.options %>
      <ol>
        <% @referrals_bar_chart.data[:labels].each do |label| %>
          <li><%= label %></li>
        <% end %>
      </ol>
    </div>
  </div>
</div>
<div class="row">
  <div class="large-12 columns">
    <h6 class="category">Latest Page Visits</h6>
  </div>
</div>
<div class="row">
  <div class="large-12 columns">
    <div class="callout">
      <table>
        <thead>
          <tr>
            <th>Row Id</th>
            <th>Created At</th>
            <th>Source URL</th>
            <th>Referrer</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <% if @query_results.present? %>
            <% @query_results.each_with_index do |event, index| %>
              <tr>
                <td><%= index + 1 %></td>
                <td><%= event.timestamp %></td>
                <td><%= event.source_url %></td>
                <td><%= event.referrer || "N/A" %></td>
                <td><%= link_to("View", dashboard_event_detail_path(@api_key.uuid, event.uuid)) %></td>
              </tr>
            <% end %>
          <% else %>
            <tr>
              <td colspan="5">No Events</td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
