<div class="large-12 columns">
  <div class="row" style="margin-top: 2rem">
    <div class="large-12 columns">
      <nav aria-label="You are here:" role="navigation">
        <ul class="breadcrumbs">
          <li><%= link_to "Home", root_path %></li>
          <li><%= link_to "Events", dashboard_event_path(@api_key.uuid) %></li>
          <li>Details</li>
          <li style="color: #6f99d5; white-space: pre; font-weight: bold">
            <span class="show-for-sr">Current</span><%= @result.values.first.source_url %>
          </li>
        </ul>
      </nav>
    </div>
  </div>
  <div class="row">
    <div class="large-6 columns">
      <div class="callout clearfix">
        <small class="float-left">Score History</small>
        <small class="float-right">X</small>
        <div class="float-center" style="text-align:center; clear:both">
          <%= line_chart @line_chart.data, @line_chart.options %>
        </div>
      </div>
    </div>
    <div class="large-3 columns">
      <div class="callout clearfix">
        <small class="float-left">Latest Engage Score</small>
        <small class="float-right">X</small>
        <div class="float-center" style="clear:both; text-align:center; margin-top: 2rem">
          <div class="counter">
            <span class="speedometer"></span>
            <span class="needle" style="transform: rotate(<%= (-45 + ((@result.values.first.score / 250) * 100)).to_i %>deg)"></span>
          </div>
          <h4 style="display: inline-block; vertical-align: top"><%= number_with_precision(@result.values.first.score, precision: 2) %> / 250 </h4>
        </div>
      </div>
    </div>
    <div class="large-3 columns">
      <div class="callout clearfix">
        <small class="float-left">Average Engage Score</small>
        <small class="float-right">X</small>
        <div class="float-center" style="clear:both; text-align:center; margin-top: 2rem">
          <div class="counter" style="display:inline-block">
            <span class="speedometer"></span>
            <span class="needle" style="transform: rotate(<%= (-45 + ((@median_score.values.first.score / 250) * 100)).to_i %>deg)"></span>
          </div>
          <h4 style="display: inline-block; vertical-align: top"><%= number_with_precision(@median_score.values.first.score, precision: 2) %> / 250 </h4>
        </div>
      </div>
    </div>
    <div class="large-6 columns">
      <div class="callout clearfix">
        <div class="stats">
          <ul>
            <li><%= distance_of_time_in_words(@result.values.first.total_in_viewport_time) %><span>Content On Page</span></li>
            <li><%= @result.values.first.word_count %><span>Word Count</span></li>
            <li><%= @result.values.first.reached_end_of_content ? "Yes" : "No" %><span>Reached End?</span></li>
            <li style="font-size:1rem"><%= strip_url(@result.values.first.referrer).truncate(20) || "N/A" %><span>Referrer</span></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="large-12 columns">
      <div class="callout clearfix">
        <small class="float-left">History</small>
        <small class="float-right">X</small>
      </div>
    </div>
  </div>
</div>