<div class="row" style="margin-top: 2rem">
  <div class="large-12 columns">
    <nav aria-label="You are here:" role="navigation">
      <ul class="breadcrumbs">
        <li><%= link_to "Events", dashboard_events_path %></li>
        <li><%= link_to @api_key.name, dashboard_event_path(@api_key.uuid) %></li>
        <li style="color: #7F8AA2">
          <span class="show-for-sr">Current</span><%= @result.source_url %>
        </li>
      </ul>
    </nav>
  </div>
</div>
<div class="row">
  <div class="large-12 columns">
    <div class="callout clearfix">
      <div class="float-center callout-inner">
        <%= line_chart @line_chart.data, @line_chart.options %>
      </div>
      <div class="large-3 columns">
        <div class="callout clearfix">
          <small class="float-left">Latest Engage Score</small>
          <small class="float-right">X</small>
          <div class="float-center callout-inner">
            <div class="counter">
              <span class="speedometer"></span>
              <span class="needle" style="transform: rotate(<%= (-45 + ((@result.final_score / 250) * 100)).to_i %>deg)"></span>
            </div>
            <h4 style="display: inline-block; vertical-align: top"><%= number_with_precision(@result.final_score, precision: 2) %> / 250 </h4>
          </div>
        </div>
      </div>
      <div class="large-3 columns">
        <div class="callout clearfix">
          <small class="float-left">Average Engage Score</small>
          <small class="float-right">X</small>
          <div class="float-center callout-inner">
            <div class="counter" style="display:inline-block">
              <span class="speedometer"></span>
              <span class="needle" style="transform: rotate(<%= (-45 + ((@mean_score / 250) * 100)).to_i %>deg)"></span>
            </div>
            <h4 style="display: inline-block; vertical-align: top"><%= number_with_precision(@mean_score, precision: 2) %> / 250 </h4>
          </div>
        </div>
      </div>
      <div class="large-6 columns">
        <div class="callout clearfix">
          <div class="stats">
            <ul>
              <li><%= @scores_from_past_days[-1].visits %><span>Visits in last 15 Days</span></li>
              <li><%= @scores_from_past_days.map(&:engaged_visits).sum %><span>Users Engaged</span></li>
              <li><%= @result.city || @result.country || "N/A" %><span>Top Location</span></li>
            </ul>
          </div>
          <%= image_tag('us-map.png', size: '150x90') %>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="large-12 columns">
    <h6 class="category">History</h6>
  </div>
</div>
