<div class="row" style="margin-top: 2rem">
  <div class="medium-12 columns">
    <nav aria-label="You are here:" role="navigation">
      <ul class="breadcrumbs">
        <li><%= link_to "Projects", dashboard_projects_path %></li>
        <li><%= link_to @api_key.display_name, dashboard_project_path(@api_key.uuid) %></li>
        <li><%= link_to "Content Links", dashboard_event_path(@api_key.uuid) %></li>
        <li style="color: #7F8AA2">
          <span class="show-for-sr">Current</span><%= @result.source_url %>
        </li>
      </ul>
    </nav>
  </div>
</div>
<div class="row">
  <div class="medium-10 columns">
    <h4 class="category">Stats</h4>
  </div>
  <div class="medium-2 columns">
    <div class="callout clearfix text-center" style="border-radius:2em;padding:0.4em">
      <ul class="menu line-chart-menu">
        <%= menu_link("7 days", url_for(params.permit!.merge(past_days: 7))) %>
        <li></li>
        <%= menu_link("15 days", url_for(params.permit!.merge(past_days: 15))) %>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="medium-12 columns">
    <div class="float-center callout-inner">
      <div class="actions"></div>
      <%= chart 'line', @line_chart.data, @line_chart.options %>
    </div>
  </div>
</div>
<div class="row">
  <div class="medium-3 columns">
    <div class="callout">
      <small class="float-left">Top Engage Score (Week)</small>
      <small class="float-right">+ <%= number_to_percentage(@scores_from_past_week.top_score_pt_change, precision: 0) %></small>
      <div class="float-center callout-inner">
        <div class="counter">
          <span class="speedometer"></span>
          <span class="needle" style="transform: rotate(<%= (-45 + ((@scores_from_past_week.top_score / 250) * 100)).to_i %>deg)"></span>
        </div>
        <h4 style="display: inline-block; vertical-align: top"><%= number_with_precision(@scores_from_past_week.top_score, precision: 2) %>
          / 250
        </h4>
      </div>
    </div>
  </div>
  <div class="medium-3 columns">
    <div class="callout">
      <small class="float-left">Average Engage Score (Week)</small>
      <small class="float-right">+ <%= number_to_percentage(@scores_from_past_week.mean_score_pt_change, precision: 0) %></small>
      <div class="float-center callout-inner">
        <div class="counter" style="display:inline-block">
          <span class="speedometer"></span>
          <span class="needle" style="transform: rotate(<%= (-45 + ((@scores_from_past_week.mean_score / 250) * 100)).to_i %>deg)"></span>
        </div>
        <h4 style="display: inline-block; vertical-align: top"><%= number_with_precision(@scores_from_past_week.mean_score, precision: 2) %>
          / 250
        </h4>
      </div>
    </div>
  </div>
  <div class="medium-6 columns">
    <div class="callout">
      <div class="media-object">
        <div class="media-object-section middle">
          <div>
            <%= image_tag "checkin.svg", size: "40x40", style: "border:0"%>
          </div>
        </div>
        <div class="media-object-section middle stats">
          <ul>
            <li>
              <h2><%= @scores_from_past_days.map(&:visits).sum %></h2>
              <span>Visits (<%= @past_days %> Days)</span>
            </li>
            <li>
              <h2><%= @scores_from_past_days.map(&:engaged_visits).sum %></h2>
              <span>Users Engaged (<%= @past_days %> Days)</span>
            </li>
              <li>
                <h2><%= @mean_viewport_time.sum / (@mean_viewport_time.empty? ? 1 : @mean_viewport_time.size) %></h2>
                <span>Average Viewport Time (s)</span>
              </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<hr>
<div class="row">
  <div class="medium-10 columns">
    <h4 class="category">Details</h4>
  </div>
</div>
<div class="row">
  <div class="medium-6 columns">
    <div class="callout">
      <div class="media-object">
        <small class="float-left">Reading Analysis (Lifetime)</small>
        <div class="callout-inner">
          <div class="media-object-section middle" style="position:relative;height:100%">
            <ul class="tabs vertical" id="reading-tabs" style="border:0;padding-right:1rem;position:absolute;height:inherit;width:100%" data-tabs>
              <li style="height:25%" class="tabs-title is-active"><a style="padding:0.75em;height:100%;width:100%" href="#panel1v" aria-selected="true"></a></li>
              <li style="height:25%" class="tabs-title"><a style="padding:0.75em;height:100%;width:100%" href="#panel2v"></a></li>
              <li style="height:25%" class="tabs-title"><a style="padding:0.75em;height:100%;width:100%" href="#panel3v"></a></li>
              <li style="height:25%" class="tabs-title"><a style="padding:0.75em;height:100%;width:100%" href="#panel4v"></a></li>
            </ul>
            <%= image_tag "paper.svg", size: '100x100' %>
          </div>
          <div class="media-object-section" style="width:100%">
            <div class="tabs-content vertical" data-tabs-content="reading-tabs" style="overflow:hidden;color:rgba(22, 160, 133,1.0)">
              <div class="tabs-panel chart-bar-anim" id="panel1v">
                <h4>Section 1</h4>
                <h6>Average Time in Section: <%= @scores_from_past_week.q1_time %> s</h6>
              </div>
              <div class="tabs-panel chart-bar-anim" id="panel2v">
                <h4>Section 2</h4>
                <h6>Average Time in Section: <%= @scores_from_past_week.q2_time %> s</h6>
              </div>
              <div class="tabs-panel chart-bar-anim" id="panel3v">
                <h4>Section 3</h4>
                <h6>Average Time in Section: <%= @scores_from_past_week.q3_time %> s</h6>
              </div>
              <div class="tabs-panel chart-bar-anim" id="panel4v">
                <h4>Section 4</h4>
                <h6>Average Time in Section: <%= @scores_from_past_week.q4_time %> s</h6>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="medium-6 columns">
    <div class="callout">
    </div>
  </div>
</div>
