<div class="row" style="margin-top: 2rem">
  <div class="large-6 columns">
    <nav aria-label="You are here:" role="navigation">
      <ul class="breadcrumbs">
        <li><%= link_to "Home", root_path %></li>
        <li>
          <span class="show-for-sr">Current: </span> Settings
        </li>
      </ul>
    </nav>
  </div>
</div>
<div class="row">
  <div class="large-12 columns">
    <h4 class="category">Manage Profile</h4>
  </div>
</div>
<div class="row">
  <div class="small-6 small-centered">
    <div class="callout">
      <%= form_for(current_user, url: v1_user_path(current_user.id), html: { :method => :put }, remote: true) do |f| %>
        <div class="form-group">
          <%= f.label :first_name, "Name" %>
          <%= f.text_field :name, class: "form-control inline-editable" %>
          <%= f.label :permissions, "Permissions" %>
          <fieldset>
            <%= f.radio_button :permissions, "allow_all", class: "inline-editable", checked: (current_user.permissions == "allow_all") %>
            <%= f.label :permissions, "Allow All", value: "allow_all" %>
            <%= f.radio_button :permissions, "no_emails", class: "inline-editable", checked: (current_user.permissions == "no_emails") %>
            <%= f.label :permissions, "No Emails", value: "no_emails" %>
          </fieldset>
          <%= f.label :avatar_label, "Profile Avatar" %>
          <%= f.label :avatar, current_user.avatar.present? ? current_user.avatar.file.identifier : "No Avatar", class: "button" %>
          <%= f.file_field :avatar, class: "show-for-sr inline-editable" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
<div class="row">
  <div class="large-12 columns">
    <h4 class="category">Manage API Keys</h4>
  </div>
</div>
<div class="row">
  <div class="small-6 small-centered">
    <%= react_component("SettingsContainer", props: {}, prerender: false) %>
  </div>
</div>
