<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= content_for?(:title) ? yield(:title) : "Engage" %></title>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => "reload" %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => "reload" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= render "nav" %>
    <%= render "sub_nav" unless subnav_hidden? || !user_signed_in? %>
    <% flash.each do |name, msg| %>
      <%= content_tag :div, msg, id: "flash_#{name}" %>
      <div class="alert callout" data-closable>
        <p><%= msg %></p>
        <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    <% end %>

    <%= yield %>
  </body>
</html>
